<div class="content">
    <div class="title">
        <h1 class="title-principal">Fabian Arancibia</h1>
        <h3 class="text-detail">Software development</h3>
    </div>

    <div class="menu" >
        <nav class="navbar navbar-expand-lg navbar-light text-detail">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="#">Experience</a>
                        <a class="nav-link" href="#">Studies</a>
                        <a class="nav-link" href="#">Qualities</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- <div class="colum-experience">
        <app-card-menu></app-card-menu>
    </div> -->
</div>
